$clr-dark-elements: hsl(209, 23%, 22%);
$clr-dark-background: hsl(207, 26%, 17%);
$clr-dark-text: hsl(0, 0%, 100%);

$clr-white-text: hsl(200, 15%, 8%);
$clr-white-input: hsl(0, 0%, 52%);
$clr-white-background: hsl(0, 0%, 98%);
$clr-white-elements: hsl(0, 0%, 100%);
