@import "../styles/partials/theme";
@import "../styles/partials/breakpoint";
.loader {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $clr-white-background;
  &.darkMode {
    background: $clr-dark-background;
    color: $clr-dark-text;
    transition: background 200ms ease;
  }
}

.countriesListContainer {
  padding: 0 6rem;
  display: flex;

  flex-direction: column;

  background: $clr-white-background;
  min-height: calc(100vh - 90px);
  width: 100%;

  color: $clr-white-text;
  transition: background 200ms ease;

  @include breakpoint(desktop) {
    padding: 0 6rem;
  }

  @include breakpoint(mobileonly) {
    padding: 0rem 2rem;

    .countriesList {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  .countriesList {
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: clamp(2rem, 3rem, 6rem);
  }
  &.darkMode {
    background: $clr-dark-background;
    color: $clr-dark-text;
    transition: background 200ms ease;
  }
}
